body {
    background-image:url(https://images.unsplash.com/photo-1554104299-100e77bd4733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.header button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width:120px;
    height:60px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
}

/* .header button {
    background-color: #ddd;
    color: black;
} */

.header button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 10%;
    font-size: large;
}

h1 {
    color: white;
    text-align: center;
}

article {
    color: white;
    width: auto;
    max-width: 25%;
    text-indent: 2em;
    float: left;
    font-size: large;
    font-weight: bold;
}

p {
    color: black;
    font-size: x-large;
    position: fixed;
    /* left: ; */
    font-weight: bold;
    /* bottom: 2%; */
    /* line-height: .25em; */
    text-align: center;
    /* top: 450px; */
    /* left: -250px; */
    bottom: 2.5%;
    left: 31%;
    white-space: normal;
    /* height: 10%; */
    /* margin-bottom: 10em; */
    /* z-index: 1; */

}

#dealer_hand{
    height: 8%;
}
#player_hand{
    height: 5.5%;
}
#easter_egg{
    height: 3%;
}

footer {
    display: flex;
    position: fixed;
    margin-top: auto;
    bottom: 1%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 10%;
    font-size: larger;
}

#images {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#dealer_images {
    width: 200px;
    height: 200px;
    object-fit: cover;


}



    /* text-align: right; */
    /* max-width: 200px;
    max-height: 200px; */
/* } */

/* #dealer_images {
    float: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#card_images {
    float: center;
    width: 400px;
    height: 400px;
    object-fit: cover;
} */

#dumb {
    display: none;
    position: absolute;
    margin-left: 50vw;
    transform: translate(-50%);
    z-index: 1;
}

