body {
    background-image: url(./images/landing_page.jpeg);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    text-align: center;
}

/* html {
    display: table;
    margin: auto;
} */

h1{
    color: white;
}

form {
    display: inline-block;
}